fastapi
uvicorn
pydantic
python-multipart
requests
streamlit
pandas
torch
sentence-transformers
faiss-cpu
faiss-gpu
sparse-dot-topn
scikit-learn
rapidfuzz
probablepeople
unidecode
azure-batch==14.2.0
azure-storage-blob
azure-identity
openpyxl
xlsxwriter
